# Visual Studio
*.db
*.opendb
*.csproj.user
ipch
.vs
.vscode

# Sublime text
*.sublime-project
*.sublime-workspace

# Directories we don't ever want to commit
bin
obj
[Rr]elease
[Dd]ebug

# Misc
*.txt
*.7z
*.zip
*.tar.gz